server:
  port: 8090

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_kafka
    username: root
    password: 123456
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: none
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer